<style>
    br {
        line-height: 108%;
    }
    h1 {
        font-family: Monospace;
        font-size: 1.75em;
        font-weight: bold;
        display: inline;
        margin-left: -0.1em !important;
        margin-right: -0.1em !important;
    }
    h2 {
        font-family: Monospace;
        font-size: 2.05em;
        font-weight: bold;
        display: inline;
    }

    .default-IDE-color {
        color: #EEE;
        font-family: Monospace;
    }

    .string-color {
        color: #9E5;
        font-family: Monospace;
        margin-left: -0.5em;
        margin-right: -0.5em;
    }
    .condition-color {
        color: #EA2;
        font-family: Monospace;
        margin-right: -0.5em;
    }

    p {
        font-family: Helvetica;
    }
    .header-menu-item {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .header-menu {
        top: 0;
        z-index: 50;
        width: 100%;
    }
    .mainpage-content {
        width: 100%
    }
    .buffer {
        z-index: 50;
        width: 100%;
    }

    .faux-DOS {
        border-radius: 15px;
        padding: 15px;
    }
    .top-btn {
	border-collapse: separate;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 6px 0px 3px #AA9;
	background: #F6F6F3;
	color: #333;
    }
    .gen-btn {
        border-collapse: separate;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 6px 6px 3px #AA9;
        background: #F6F6F3;
        color: #333;
    }
    .mid-btn {
	border-collapse: separate;
	width: 100%;
	border-radius: 8px;
	box-shadow: 6px 0px 3px #AA9;
	background: #F6F6F3;
	color: #333;
    }
    .bot-btn {
	border-collapse: separate;
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 6px 6px 3px #AA9;
	background: #F6F6F3;
	color: #333;
   }



</style>